@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #313339;
    color: white;
}

nav{
    height: 8vh;
    background: #1e1f23;
    font-family: 'Pirata One', cursive;
    font-size: 2rem;
}

nav .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto auto;
}

#app{
    width: 80%;
    margin: 0 auto;
}

nav img{
    max-height: 50px;
}

.intro{
    display: grid;
    grid-template-columns: 66% 34%;
}

.intro h2{
    font-size: 3rem;
    font-family: 'Pirata One', cursive;
    margin: 20px 0;
    color: #c657e8;
}

.intro .text{
    margin: auto 0;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    padding: 0 2rem;
}

.intro img{
    justify-self: center;
    max-height: 50vh;
}
