@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #313339;
    color: white;
    text-shadow: 0 0 5px black;
}

nav{
    height: 8vh;
    background: #1e1f23;
    font-family: 'Pirata One', cursive;
    font-size: 2rem;
}

nav .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto auto;
}

#app > *:not(section){
    padding: 0 10vw;
}

/*#app > *{*/
/*    padding: 0 10vw;*/
/*}*/

nav img{
    max-height: 50px;
}

.intro{
    display: grid;
    grid-template-columns: 66% 34%;
    align-items: center;
    background: rgba(30, 17, 49, 0.51) url("https://media.discordapp.net/attachments/1148548272848384010/1148562618747994183/barlito_people_passing_a_gigantic_dimensional_portal_purple_col_ce146707-24fb-46b9-8028-38271734cec4.png?width=1206&height=676") no-repeat fixed center center;
    background-size: cover;
    background-blend-mode: darken;
    min-height: calc(100vh - 8vh);
}

.intro h2{
    font-size: 3.5rem;
    font-family: 'Pirata One', cursive;
    margin: 20px 0;
    color: #c657e8;
}

.intro .text{
    margin: auto 0;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.intro img{
    justify-self: center;
    max-height: 50vh;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
    justify-items: center;
    grid-gap: 2.5rem 0;
}

.card__rotator img{
    height: 430px;
    width: auto;
}

/* Workaround to select all .extension except the first one */
/*.extension ~ .extension{*/
/*    margin-top: 4rem;*/
/*}*/

.extension{
    position: relative;
}

.extension:before{
    content: '';
    position: absolute;
    height: 5px;
    /*background: #c456e7;*/
    width: 100%;
    top: -5px;

    background: linear-gradient(270deg, #c456e7, #e20070, #c456e7, #e20070);
    background-size: 600% 600%;
    animation: BackgroundAnimation 60s ease infinite;
}

@keyframes BackgroundAnimation{
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

.extension h2{
    font-size: 2.5rem;
    font-family: 'Pirata One', cursive;
    margin-bottom: 20px;
    color: #c657e8;
}

.extension p{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2rem;
}

.extension#cyberpunk{
    background: rgb(100, 32, 95) url("https://media.discordapp.net/attachments/1148548272848384010/1148550546849013831/barlito_cyberpunk_2077_night_city_background_neon_color_2933089b-b5e1-4b47-b970-df6e434682f0.png") no-repeat fixed center center;
    background-blend-mode: hard-light;
    background-size: cover;
}

.extension#kda{
    background: rgb(95, 91, 126) url("https://i.imgur.com/jwT03lC.jpg") no-repeat fixed center center;
    background-blend-mode: multiply;
    background-size: cover;
}

.extension .container{
    padding: 50px 10vw;
    backdrop-filter: blur(2px);
}

/*.extension.cyberpunk{*/
/*    background: linear-gradient(-45deg, #e0b0f3, #ec51e3, #3cbfcc, #eaf7fb);*/
/*    background-size: 300% 300%;*/
/*    animation: gradient 6s ease infinite;*/
/*}*/

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/
