@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #313339;
    color: white;
}

nav{
    height: 8vh;
    background: #1e1f23;
    font-family: 'Pirata One', cursive;
    font-size: 2rem;
}

nav .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto auto;
}

#app > *{
    padding: 0 10vw;
}

nav img{
    max-height: 50px;
}

.intro{
    display: grid;
    grid-template-columns: 66% 34%;
}

.intro h2{
    font-size: 3.5rem;
    font-family: 'Pirata One', cursive;
    margin: 20px 0;
    color: #c657e8;
}

.intro .text{
    margin: auto 0;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.intro img{
    justify-self: center;
    max-height: 50vh;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    justify-items: center;
    grid-gap: 2.5rem 0;
}

.card__rotator img{
    height: 430px;
    width: auto;
}

/* Workaround to select all .extension except the first one */
.extension ~ .extension{
    margin-top: 4rem;
}

.extension h2{
    font-size: 2.5rem;
    font-family: 'Pirata One', cursive;
    margin: 20px 0;
    color: #c657e8;
}

.extension p{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2rem;
}

/*.extension.cyberpunk{*/
/*    background: linear-gradient(-45deg, #e0b0f3, #ec51e3, #3cbfcc, #eaf7fb);*/
/*    background-size: 300% 300%;*/
/*    animation: gradient 6s ease infinite;*/
/*}*/

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/
